<!doctype html>
{%load staticfiles %}
<html>
<head>
<link href="{%static "css/fileform.css"%}" rel="stylesheet" />
<script src="{%static "js/jquery-1.11.3.min.js"%}"></script>
<script src="{%static "js/referrer-killer.js"%}"></script>
<script src="{%static "js/uploadPreview.min.js"%}"></script>
<script src="{%static "js/jquery.blockUI.js"%}"></script>
<style>
iframe{  
   pointer-events:none; 
   }
</style>
<script>		               
    $(function(){
    $("#a").val('');
    $("#form_id").submit(function(){
    $(".item").remove();
   // $("#resultscript").html('');
    $("#find").remove();
    $("#imgdiv").prepend("<h3 id='find'>Find pirture</h3>");
    var data = new FormData($('#form_id').get(0));
                $.ajax({
                    type:"POST",
                    url: "/file/upload/",
                    data : data,
                    cache: false,
                    contentType: false,
                    processData: false,
		    beforeSend:function(){
		         $.blockUI({ 
			 message: '<div>正在查询...请稍候</div>', 
			 css: { 
			 border: 'none', 
			 padding: '15px', 
			 backgroundColor: '#000', 
			 'font-size':'25px',
			 'border-radius':'25px',
			 '-webkit-border-radius': '25px', 
			 '-moz-border-radius': '25px', 
			 opacity: .5, 
			 color: '#fff' 
			 } });
		    },
                    success: function(data){
		        $.unblockUI
                        var tempdiv='';
			var tempscript='';
			$.each(data,function(index,content){
				    tempdiv += "<div id = '"+content["name"] +"' class='item'"+' onclick="'+"window.location.href='"+content["url"]+"';return false"+'"></div>';
			    tempscript += "document.getElementById('"+content["name"]+"').innerHTML = ReferrerKiller.imageHtml('"+content["url"]+"');";
			});
                        $("#resultcontainer").html(tempdiv);
		        $("#resultcontainer").prepend("<h3 id='theresult'>The results</h3>");
			    
			    $("center").nextAll().remove();
			    $("body").append($("<script />", {
			      html: tempscript
			      }));
                    },
                    failure: function(){
                        $(this).addClass("error");
                    }
                });
                return false;
    });
    $(":file").change(function(){
	var file = this.files[0];
        var name = file.name;
        var size = file.size;
    	var type = file.type;
        $("#a").val(name);
        if(size > 10000){
            $("#form_id").trigger("submit");
        }
    });

});
</script>
<script>
       window.onload = function () { 
                   new uploadPreview({ UpBtn: "id_file", DivShow: "imgdiv", ImgShow: "imgShow" });
		           }
</script>
</head>
<body>
<center>
<form  id = "form_id"   method = "POST" action = "/file/upload/" enctype="multipart/form-data"> {% csrf_token %}
	<input type="search" id="a" readonly="readonly"/>
 		<a href="javascript:void(0);" class="input" id="select">
  		选择图片
            {{modelform_filefield}}
	</a> 
	<input type = "submit" value="Post" style="display:none"/>
					                    </form>
<div id="imgdiv"><a href="http://www.baidu.com"><img id="imgShow"/></a></div>
<div id="resultcontainer"></div>
</center>
								    </body>
								    </html>

