<!doctype html>
{%load staticfiles %}
<html>
<head>
<link href="{%static "css/fileform.css"%}" rel="stylesheet" />
<script src="{%static "js/jquery-1.11.3.min.js"%}"></script>
<script src="{%static "js/referrer-killer.js"%}"></script>
<script src="{%static "js/uploadPreview.min.js"%}"></script>
<script src="{%static "js/jquery.blockUI.js"%}"></script>
<script src="{%static "js/main.js"%}"></script>
<style>
iframe{  
   pointer-events:none; 
   }
.imgbox {margin:0 auto; position:relative; }
.text { height:auto; background-color:#000;opacity:0.7; position:absolute; left:0px; bottom:0px; }
.imgtext { height:auto; float:left; color:#fff; font-size:12px; line-height:200%;display:none }
</style>
<script>
       window.onload = function () { 
                   new uploadPreview({ UpBtn: "id_file", DivShow: "imgdiv", ImgShow: "imgShow" });
		           }
</script>
</head>
<body>
<center>
<form  id = "form_id"   method = "POST" action = "/file/upload/" enctype="multipart/form-data"> {% csrf_token %}
	<input type="search" id="a" readonly="readonly"/>
 		<a href="javascript:void(0);" class="input" id="select">
  		选择图片
            {{modelform_filefield}}
	</a> 
	<input type = "submit" value="Post" style="display:none"/>
					                    </form>
<div id="imgdiv"><img id="imgShow"/></div>
<div id="resultcontainer"></div>
</center>
								    </body>
								    </html>

